
 /*Glassmorphism Navbar Styles
   =========================== */
.navbar {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	padding: 10px 30px;
}

.navbar a {
	color: #fff !important;
	font-weight: 500;
	margin: 0 10px;
}

.navbar a:hover {
	color: #ffd166 !important;
	text-shadow: 0 0 10px #ffd166;
}
